*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
        background-image:  url(Images/image\ 1.png);
        width: 1440px;
        height: 3473px;
        
    }


.container {
    width: 1440px;
    height: 3473px;   
    
}


    .section-1 {
      display: flex;
      width: auto ;
      height: auto;
      margin-left: 70px;
      
      
    }


    img {
        width: 300.1px ;
        height: 300.1px;
        object-fit: cover;
        border-radius: 29.04px;
        margin-right: 9px;
        margin-left: 30px;
    }

    .who-am-I {
    width: 994.69px; 
    height: 300.1px;
    background-color: #FFFFFF;
    border-radius: 29.4px;
    padding-top: 59px;
    padding-bottom: 59px ;
    padding-left:69px ;
    padding-right: 69px;
    gap: 10px;
   


}

h1 {
    width: 288px;
    height: 37px;
    font-size: 36px;
    font-family: sans-serif;
    color: #000000;
    margin-bottom: 30px;
    
}

p {
   font-size: 22px; 
   color: #5C5C5C;
   font-family: sans-serif;
   line-height: 151%;
   
}


.section-2 {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 50px;
}


.proficiency-container{
    width: 563.9px; 
    height: 428.37px;
    background-color: #FFFFFF;
    border-radius: 29.4px;
    padding-top: 41px;
    padding-bottom: 41px ;
    padding-left: 28px ;
    padding-right: 28px;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    gap: 10px;
    
    
   
}

.languages {
    width: 509.09px;
    height: auto;
    font-size: 24.02px;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-evenly;
    
    
}

.tech-names {
    font-family: sans-serif;
    list-style: none;
    margin-bottom: 16px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-around;
}


.bars {
    width: 509.09px;
    height:179.09px;
    list-style: none;
    
    
}

.bars-lang{
    display: flex;
    justify-content: right;
    
}

.bar-1 {
    height: 26.6px;
    width: 50%;
    border-radius: 7.26px;
    background-color: #4A8B70;
    list-style: none;
    margin-bottom: 16px;
    
}

.bar-2{
    height: 26.6px;
    width: 50%;
    border-radius: 7.26px;
    background-color: #4A8B70;
    list-style: none;
    margin-bottom: 16px;
    
    
}

.bar-3{
    height: 26.6px;
    width: 30%;
    border-radius: 7.26px;
    background-color: #4A8B70;
    list-style: none;
    margin-bottom: 16px;
    
}

.bar-4{
    height: 26.6px;
    width: 30%;
    border-radius: 7.26px;
    background-color: #4A8B70;
    list-style: none;
    margin-bottom: 16px;
}



h3{
    width: 509px;
    height: 36px;
    font-weight: 500px;
    font-size: 24.2px;
    color: #000000;
    gap: 12px;
    font-family: sans-serif;
    line-height: 150%;
    text-align: left;
    margin-bottom: 30px;
    
   
}

h2{  
    width: 85px;
    height: 51px;
    font-family: sans-serif;
    font-size: 33.88px; 
    margin-top: 30px;
    
    
}

  

.skills-container {
    width: 706px; 
    height: 429px;
    background-color: #FFFFFF;
    border-radius: 29.4px;
    padding-left: 28px ;
    padding-right: 28px;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    
}

.skills {
    display: flex;
    align-content: space-evenly;
    width: 627.81px;
    height: 279.53px;
    gap: 19.36px;
    list-style-type: none;
    flex-wrap: wrap;
    
}


.bubble-skills {
    background-color: #ECF4F1;
    padding-top: 9.68px ;
    padding-bottom: 9.68px;
    padding-left: 24.2px ;
    padding-right: 24.2px;
    border-radius: 96.81px;
    width: max-content;
    height: 55.56px;
    gap: 24px;
    text-align: center;
    font-size: 24.2px;
    line-height: 150%;
    margin: auto;


}


.section-3{
    width: 1400px;
    height: min-content;
    margin-left: 50px;

}

   .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 50px;
    
   }

      .heart-icon {
       color: #D76239;
       display: inline-block;
       float: right;
       font-size: 26.62px;
       
      }

      .heart-icon-2 {
        color:#DB8566;
        display: inline-block;
        float: right;
        font-size: 26.62px;
      }
  
   

.project-container {
    width: 1318.08px; 
    height: 755.09px;
    background-color: #FFFFFF;
    border-radius: 29.4px;
    font-family: sans-serif;
    margin-left: 30px;
    margin-top: 45px;
    padding-top: 43px ;
    padding-bottom: 43px;
    padding-left: 29px ;
    padding-right: 29px;
    
    
} 

.Projects-heading {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 136px;
    height: 51px;
    font-size: 33.88px;
    font-family: sans-serif;
    text-align: center;
}

.Project-1 {
    text-align: left;
    background-color:#4A8B70 ;
    border-radius:29.04px ;
    width: 280px;
    height: 581px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 19px ;
    padding-right: 19px ;
    color: #FFFFFF;
    vector-effect: ;
    
    
}

.h3-project {
    color: #FFFFFF;
}

.Project-2 , .Project-3 , .Project-4 , .Project-5 {
    text-align: left;
    background-color:#E7F0EC ;
    border-radius:29.04px ;
    width: 280px;
    height: 581px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 19px ;
    padding-right: 19px ;
    line-height: 150%;
  
    
}




.section-4 {
    display: flex;
    margin-left: 100px;

    

}

.education-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    font-family: sans-serif;
    border-radius: 29.04px;
    width: 994.69px;
    height: 847.06px;
    background-color: #FFFFFF;
    border-radius: 29.4px;
    padding: 29px;
    margin-top: 45px;
    gap: 35px;
    
    
}




.edu-1 {
    background-color:#4A8B70 ;
    border-radius:29.04px ;
    width: 936.61px;
    height: 242.02px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 21px;
    padding-right: 21px ;
    color: #FFFF;
    
    
    
}

.edu-2 , .edu-3 {
    background-color:#E7F0EC ;
    border-radius:29.04px ;
    width: 936.61px ;
    height: min-content;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 21px;
    padding-right: 21px ;
    color: #000000;
    
    
    
}

.inline-block-1 {
    float: left;
    line-height: 200%;
    margin-right: 70px;
}



.inline-block-2 {
    display: flex;
    justify-content: space-between;
    line-height: 200%;
    row-gap: 16px;


    }



 h4 {
    font-size: 24.2px;
   }



.tools-container {
    display: flex;
    flex-direction: column;
    width: 300.1px;
    height: 847.06px;
    border-radius: 29.04px;
    background-color: #FFFFFF;
    margin-top: 45px;
    margin-left: 45px;
    

}


   .tools-heading {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 150%;

}

.language-tool, .Design , .tools {
    background-color: #000000;
    border-radius: 142.79px;
    color: #FFFFFF;
    font-family: sans-serif;
    width: 95.04px;
    height: 26.68px;
    font-size: 12.1px;
    text-align: center;
    padding-top: 4.84px ;
    padding-bottom: 4.84px;
    padding-left: 14.52px;
    padding-right: 14.52px ;
    gap: 24.2px;
    margin: auto;
    margin-bottom: -30px;

    }

.html , .css , .tailwind , .figma, .google , .github , .git {
    width: 41.14px;
    height: 41.14px;
    overflow: hidden; 
    margin: auto;
    margin-bottom: 30px;
     
}

.image-container-3 , .image-container-2 , .image-container-1 {
    background-color: #E7F0EC;
    border-radius: 14.52px;
    width: 183.93px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 38.71px ;
    padding-bottom:38.71px ;
    padding-right: 9.68px ;
    padding-left: 9.68px ;
    margin: auto;

    
}

.section-5 {
    margin-left: 100px;
    
}


.work-experience {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    width: 1316px;
    height: 640px;
    border-radius: 29.04px;
    background-color: #FFFFFF;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 27px;
    padding-right: 27px ;
    font-family: sans-serif;
    margin-top: 45px;
    left: 35px;
}


    .info-ed-2 {
    display: flex;
    line-height: 200%;
    
    }

.info-ed {
    float: left;
    margin-right: 50px;
}


.job-1{
    background-color:#4A8B70 ;
    color: #FFFF;
    border-radius:29.04px ;
    width: 1260px;
    height: 145px;
    padding-bottom: 19px;
    padding-top: 19px ;
    padding-left: 25px;
    padding-right: 25px ;
}

.job-2 , .job-3 {
    background-color: #E7F0EC;
    color: #000000;
    border-radius:29.04px ;
    width: 1260px;
    height: 145px;
    padding-bottom: 19px;
    padding-top: 19px ;
    padding-left: 25px;
    padding-right: 25px ;
    
}




.footer-container {
    background-color: #d76239;
    color: #FFFF;
    border-radius: 29.04px;
    width: 1322px;
    height: 158px;
    margin-top: 45px;
    gap: 4.85px;
    margin-left: 100px;
    font-family: sans-serif; 
    text-align: left;
    line-height: 100px;
    padding:  10px 20px  10p

}

.p-1 {
    font-size: 24.2px;
    font-weight:400;
}

  

.footer-heading {
    width: 1263.92px;
    height: 51px;
    font-size: 33.88px;
    font-family: sans-serif;
    color: #FFFFFF;
}

.p-1 , .footer-heading {
    margin-left: 30px;
}



  /*Media Query for Responsiveness on iphone*/ 

  @media screen and (max-width: 667px) {
  
    .container {
        width: 667px;
        height: 2468px;
        display: flex;
        flex-direction: column;
        
    }

    img{
    
        width: 147px;
        height: 137px;
        border-radius: 12px;
        
        
    }
    
  
    .section-1 {
        display: flex; 
        flex-direction: column;
        width: 318px;
        height: 147px;
        margin-bottom: 30px;
        padding: 24px;
        border-radius: 12px;
        box-shadow: #dadada ;
        flex-wrap: wrap;
        margin-bottom: -20px;
    }

       .to-be-replaced {
        visibility: hidden;
        position: relative;
    }

    .to-be-replaced:after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: "As a driven and adaptable professional, I'm building a strong foundation in software development, focusing on programming languages and design patterns.";
    }
  
    .who-am-I {
        display: flex;
        flex-direction: column;
        width: 163px; 
        height: 137px;
        background-color: #FFFFFF;
        border-radius: 12px;
        padding: 12px;
        
        }
  
    h1 {
        width: 139px;
        height: 17px;
        font-size: 16px;
        line-height: 104%;
        font-family: sans-serif;
        color: #000000;
        margin-bottom: 2px;
        
    }
  
    p {
        font-weight: 400px;
        width: 139px;
        height: auto;
        font-size: 10px; 
        color: #5C5C5C;
        font-family: sans-serif;
        
    }


     .section-2 {
        display: flex;
        flex-direction: column;  
        width: 318px;

     }


     .section-5 {
        margin-left: 79px;
     }

     

    .proficiency-container{
        width: 318px;
        height: 177px;
        padding: 12px;
        border-radius: 12px;
        gap: 16px;
        margin-bottom: -30px;
    }
    

    .languages {
           width: 294px;
           height:74px;
           gap: 17px;
        }

        .skills {
            display: flex;
            flex-direction: column;
            width: 318px;
            height: 177px;
            gap: 16px;
            list-style-type: none;
            flex-wrap: wrap;
            
        }

        h2 {
            width: 78px;
            height: 21px;
            line-height: 150%;
            font-size: 14px;
            margin-top: 5px;
        }

        h3 {
            width: 208px;
            height: 15px;
            line-height: 150%;
            font-size: 12.11px;
            margin-bottom: 15px;
            
        }

        .bars-lang {
            text-align: center;
        }

         .tech-names {
            width: 54px;
            height: 10px;
            font-size: 10px;
            margin-top: 5px;
        }

        .bar-1 {
            height: 11px;
        }

        .bar-2 {
            height: 11px;
        }

        .bar-3 {
            height: 11px;
        }

        .bar-4{
            height: 11px;
        }

        .skills-container {
            width: 318px;
            height: 177px;
            padding: 12px;
            gap: 16px;
            border-radius: 12px;
        }

        .skills {
            width: 294px;
            height: 116px;
            gap: 8px;
        }

        .bubble-skills {
            background-color: #ECF4F1;
            padding-top: 4px ;
            padding-bottom: 4px;
            padding-left: 10px ;
            padding-right: 10px;
            border-radius: 40px;
            width: auto;
            height: 23px;
            text-align: center;
            font-size: 10px;
            line-height: 150%;
            margin: auto;
        }

        .project-container {
            width: 319px; 
            height: auto;
            background-color: #FFFFFF;
            border-radius: 12px;
            font-family: sans-serif;
            padding: 7px;
            
            
        }


        .Project-1 , .Project-2 , .Project-3 , .Project-4 , .Project-5 {
            width: 140px;
            height: auto;
            border-radius: 12.11px;
            padding: 9.69px;
            gap: 9.69px;
            font-size: 10px;
            
        }

        .cards {
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 10px;

        }

        .Projects-heading {
             width: 57px;
             height: 21px;
             font-size: 14px;
             line-height: 150%;
             text-align: left;
             margin: 5px;

        }

        .section-4 {
            display: flex;
            flex-direction: column;
            width: 318px;
            margin-left: 79px;
        }

        .education-container {
            width: 319px;
            height: 461px;
            border-radius: 12px;
            font-size: 8px;
            gap: 10px;   
            
        }

        .edu-1 , .edu-2 , .edu-3 {
            
            width: auto;
            height: auto;
            font-size: 8px;
            border-radius: 10px;
            padding: 10px;
            gap: 10px;
        
        }

        h4 {
            font-size: 10px;
        }

        .inline-block-1 {
            float: left;
            margin-right: 30px;
        }

        .inline-block-2 {
            display: flex;
        }

        .tools-container {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            gap: 20px;
            width: 319px;
            height: 163px;
            border-radius: 12px;
            background-color: #FFFFFF; 
            margin-left: -1px;
        }


        

            .tools-heading {
                
                font-size: 12px;
                line-height: 150%;
                width: 32px;
                height: 18px;
                text-align: center;
            }

            .language-tool, .Design , .tools {
                background-color: #000000;
                border-radius: 59px;
                color: #FFFFFF;
                font-family: sans-serif;
                width: 30px;
                height: 11px;
                font-size: 5px;
                text-align: center;
                padding-top: 2px ;
                padding-bottom: 2px;
                padding-left: 6px;
                padding-right: 6px ;
                line-height: 142%;
            
                }

                .image-container-3 , .image-container-2 , .image-container-1 {
                    background-color: #E7F0EC;
                    border-radius: 6px;
                    width: 76px;
                    height: 104px;
                    padding-top: 16px ;
                    padding-right: 4px ;
                    padding-left: 4px ;
                    gap: 16px;
                    margin-top: 30px;
    
                    
                }  

                

                .html , .css , .tailwind , .figma, .google , .github , .git {
                    width: 17px;
                    height: 17px;
                    overflow: hidden; 
                    
                     
                }

                .work-experience {
                    gap: 16px;
                    width: 319px;
                    height: max-content;
                    border-radius: 12px;
                    background-color: #f0f0f0;
                    
                   
                }


                .job-1{
                    background-color:#4A8B70 ;
                    color: #FFFF;
                    border-radius: 10px ;
                    width: 295px;
                    height: 141px;
                    padding: 18px;
                    font-size: 8px;
                }
                
                .job-2 , .job-3 {
                    background-color: #E7F0EC;
                    color: #000000;
                    border-radius: 10px ;
                    width: 295px;
                    height: 141px;
                    padding: 18px;
                    font-size: 8px;
                    
                }

                h4{
                    font-size: 10px;
                    line-height: 150%;
                    margin-top: 10px;
                }

                footer {
                    margin-left: 100px;
                    font-family: sans-serif; 
                    text-align: left;
                    line-height: 100px;
                    padding:  10px 20px  10px;
                    background-color: #d76239;
                    color: #FFFF;
                    border-radius: 29.04px;
                    width: 319px;
                    height: 89px;
                    margin-top: 45px;
                    gap: 4.85px;
                    
                    }

                    .footer-heading {
                        width: 295px;
                        height: 42px;
                        font-size: 14px;
                        font-family: sans-serif;
                        color: #FFFFFF;
                    }

                      .p-1 {
                        font-size: 10px;
                      }

                    .p-1 {
                        visibility: hidden;
                        position: relative;
                    }
                
                    .p-1:after {
                        visibility: visible;
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "chelsijaimegorridon@gmail.com | 083 295 7278 |";
                    }

                    

                    
                
    

      }

  /*Media Query for Responsiveness on ipads*/ 

  @media screen and (min-width: 600px) and (max-width: 1024px) {
    . {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: flex-start;
      gap: 5px;
      padding: 30px;
    }
  
    . {
      grid-column: span 3;
      margin-right: 20px;
      margin-left: 45px;
    }
  
    . {
      grid-column: span 1;
    }
  
    . {
      grid-column: span 2;
    }
  
    . {
      width: 30%;
    }

    .{
      width: 15%;
    }
  
    . {
      grid-column: span 3;
      margin-top: 40px;
      margin-left: 19%;
    }
  }